[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ion-protocol"]
	path = lib/ion-protocol
	url = https://github.com/Ion-Protocol/ion-protocol
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "lib/balancer-v2-monorepo"]
	path = lib/balancer-v2-monorepo
	url = https://github.com/balancer/balancer-v2-monorepo
